@use '../helpers' as *;

.audio-player {
  position: relative;
  width: 100%;
  height: 250px;
  margin-bottom: 30px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  box-shadow: var(--shadow-l);

  &__image-wrapper {
    @include abs-cover;

    z-index: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    &::after {
      content: '';
      z-index: 1;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0.7) 100%
      );

      @include abs-cover;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
  }

  &__content {
    position: relative;
    z-index: 1;
    flex-direction: column;
    gap: 16px;
    padding: 24px 24px 0;

    @include flex-center;
  }

  &__game-title {
    text-align: center;
  }

  &__sound-title {
    font-weight: 600;
    text-align: center;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__progress-bar {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 16px;

    @include tablet {
      padding-top: 36px;
    }

    @include tablet-l {
      padding-top: 44px;
    }
  }

  &__time {
    font-weight: 500;
  }

  &__progress-track {
    flex: 1;
    position: relative;
    overflow: hidden;
    height: 8px;
    background-color: var(--text-muted);
    border-radius: var(--border-radius-xs);

    @include hover {
      .audio-player__progress-fill {
        background-color: var(--primary-light);
      }
    }
  }

  &__progress-fill {
    @include abs-y;

    width: 50%;
    height: 100%;
    background-color: var(--primary);
    border-radius: var(--border-radius-xs);
    transition: width 0.1s, background-color var(--transition-duration);
  }

  &__progress-input {
    @include abs-center;

    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;

    &::-webkit-slider-thumb {
      appearance: none;
      opacity: 0;
    }

    &::-moz-range-thumb {
      border: none;
      opacity: 0;
    }
  }
}
