@use '../helpers' as *;

.audio-player {
  position: relative;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    'game-title game-title game-title'
    'sound-title sound-title sound-title'
    'controls controls controls'
    'progress progress volume'
  ;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 24px;
  margin-bottom: 30px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  box-shadow: var(--shadow-l);

  &__background {
    @include abs-cover;

    z-index: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    &::after {
      content: '';
      z-index: 1;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0.7) 100%
      );

      @include abs-cover;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
  }

  &__game-title {
    position: relative;
    z-index: 1;
    grid-area: game-title;
    text-align: center;
  }

  &__sound-title {
    position: relative;
    z-index: 1;
    grid-area: sound-title;
    font-weight: 600;
    text-align: center;
  }

  &__controls {
    position: relative;
    z-index: 1;
    grid-area: controls;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__progress {
    position: relative;
    z-index: 1;
    grid-area: progress;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__time {
    font-weight: 500;
  }

  &__progress-track {
    flex: 1;
    position: relative;
    overflow: hidden;
    height: 8px;
    background-color: var(--text-muted);
    border-radius: var(--border-radius-xs);

    @include hover {
      .audio-player__progress-fill {
        background-color: var(--primary-light);
      }
    }
  }

  &__progress-fill {
    @include abs-y;

    width: 50%;
    height: 100%;
    background-color: var(--primary);
    border-radius: var(--border-radius-xs);
    transition: width 0.1s, background-color var(--transition-duration);
  }

  &__progress-input {
    @include abs-center;

    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;

    &::-webkit-slider-thumb {
      appearance: none;
      opacity: 0;
    }

    &::-moz-range-thumb {
      border: none;
      opacity: 0;
    }
  }

  &__volume {
    position: relative;
    z-index: 1;
    grid-area: volume;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__volume-button {
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include square(24px);

    svg {
      width: 100%;
      height: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 24px;
      height: calc(120px + 12px + 24px);
      pointer-events: auto;
    }

    @include hover {
      color: var(--primary);
    }

    &.is-active + .audio-player__volume-track {
      pointer-events: auto;
      opacity: 1;
    }
  }

  &__volume-track {
    @include abs-x;
    bottom: calc(100% + 12px);
    overflow: hidden;
    background-color: var(--text-muted);
    width: 8px;
    height: 120px;
    border-radius: var(--border-radius-xs);
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--transition-duration);

    @include hover {
      .audio-player__volume-fill {
        background-color: var(--primary-light);
      }
    }
  }

  &__volume-fill {
    @include abs-x;

    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: var(--primary);
    border-radius: var(--border-radius-xs);
    transition: background-color var(--transition-duration);
  }

  &__volume-input {
    @include abs-center;

    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    writing-mode: vertical-lr;
    direction: rtl;

    &::-webkit-slider-thumb {
      appearance: none;
      opacity: 0;
    }

    &::-moz-range-thumb {
      border: none;
      opacity: 0;
    }
  }
}
