@use '../helpers' as *;

.series {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  height: 100%;
  padding-bottom: 12px;
  background-color: var(--bg);
  border-radius: var(--border-radius-l);

  @include tablet-l {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    box-shadow: var(--shadow-l);
    transition: transform var(--transition-duration);
    transform: translateX(-150%);

    &.is-active {
      width: 50%;
      transform: translateX(0);

      @include mobile-s {
        width: 80%;
      }
    }
  }

  &__header-wrapper {
    padding: 12px;
    background-color: var(--primary);
    border-radius: var(--border-radius-l);

    @include tablet-l {
      padding-right: 72px;
    }

    @include mobile-s {
      padding-right: 60px;
    }
  }

  &__item {
    &-title {
      position: relative;
      width: 100%;
      padding-left: var(--title-padding-left);
      font-weight: 600;
      color: var(--text);
      cursor: pointer;
      transition: color var(--transition-duration), transform var(--transition-duration);

      @include hover {
        color: var(--primary-light);
      }

      &::before {
        content: '>';
        transition: transform var(--transition-duration);
        transform: translateX(-18px);

        @include abs-y;
      }

      &:active {
        transform: translateY(2px);
      }

      &.is-active {
        &::before {
          transform: rotate(90deg) translateY(18px);
        }
      }
    }

    &-buttons {
      display: none;
      flex-direction: column;
      align-items: start;
      gap: 4px;
      width: 100%;
      padding-left: var(--title-padding-left);
    }

    &-title.is-active ~ &-buttons {
      display: flex;
    }
  }
}
