@use '../helpers' as *;

.sounds {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  padding-bottom: 20px;
  background-color: var(--bg);
  border-radius: var(--border-radius-l);

  @include tablet-l {
    width: 100%;
  }
}

.empty-message {
  color: var(--text-muted);
  text-align: center;
  font-weight: 500;
}